.message {
  margin-top: 1em;
  padding: 1em;
  background: rgba(255, 0, 0, 0.2);
  color: rgb(150, 0, 0);
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
}

button:disabled {
  opacity: 0.6;
}

.top-secret {
  background-color: royalblue;
}
