<div class="screen flex justify-center items-center bg-blue-300 w-96 h-40 mb-4">
  <p class="font-bold text-green-50 text-lg select-none">SCREEN</p>
</div>

<div class="seats w-96 flex flex-wrap gap-1.5 flex justify-center">
  <div class="seat p-3 w-8 h-8 flex justify-center items-center"
       [ngClass]="seat.taken ? 'bg-red-300' : 'bg-green-300'"
       (click)="selectSeat(seat.seatNumber)"
       *ngFor="let seat of seats;">
    <label class="select-none">{{seat.seatNumber}}</label>
  </div>
</div>
