<p>Selected folders:
  <ng-container *ngFor="let folder of folders">
    <i *ngIf="folder.selected">{{folder.name}} </i>
  </ng-container>
</p>
<div class="area">
  <div class="folder"
       *ngFor="let folder of folders"
       (click)="selectFolder($event.target); $event.stopImmediatePropagation()">{{folder.name}}
  </div>
  <ng-container *ngIf="(coordinates$ | async) as coo">
    <div class="bg-blue-500 opacity-40 border-2 border-dotted border-blue-900 absolute"
         [style.width.px]="coo.width" [style.height.px]="coo.height"
         [style.top.px]="coo.top" [style.left.px]="coo.left"
         *ngIf="selecting">
    </div>
  </ng-container>
</div>
